.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left;
  background-color: violet;
}
.message__userCard {
  background-color: blue !important;
  /* The above important is very important */
}
