.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}
.message__userCard {
  background-color: rgb(240, 25, 90) !important;
  color: white !important;
  /* The above important is very important */
}
.message__guestCard {
  background-color: rgb(240, 240, 240) !important;
}
