.App {
  text-align: center;
}

.app__form {
  height: 70px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  min-width: 300px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.app__formInput {
  flex: 1 !important;
}
